* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head {
	display: flex;
	justify-content: space-evenly;
	background-color: rgb(214, 225, 255);
	padding: 20px 0px;

	max-width: 728px;
	margin: 0 auto;
	border-radius: 0 0 10px 10px;
}
.head__btn {
	border: none;
	border-radius: 6px;
	padding: 10px 30px;
	font-size: 18px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 110, 255);
	transition: 0.3s;
}
.head__btn:hover,
.activeBtn {
	background-color: rgb(0, 79, 182);
}

.main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	max-width: 728px;
	margin: 150px auto;
}
.main__auth {
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.main__wrapper img {
	width: 400px;
}
.main__form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.main__form label {
	color: rgb(90, 90, 90);
}
.main__form-input {
	width: 100%;
	padding: 6px;
	font-size: 16px;
	margin-bottom: 5px;
	outline: none;
	background-color: rgb(244, 244, 255);
	border: none;
}
.main__form-btn {
	padding: 10px;
	font-size: 16px;
	width: 100%;
	font-weight: bold;
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 110, 255);
	transition: 0.3s;
}
.main__form-btn:hover {
	background-color: rgb(0, 79, 182);
}

.activeAuth {
	display: flex;
}

@media (max-width: 650px) {
	.main {
		margin: 0px auto;
	}
	.main__auth {
		flex-direction: column;
	}
	.main__wrapper {
		text-align: center;
	}
	.main__wrapper img {
		width: 90%;
	}
}
